
.vs/
notes/
logs/
stats-lib/logs/

logbot/node_modules/
logbot/.vs/
logbot/package-lock.json

stats-lib/.vs/
stats-lib/__pycache__/

statsbot/node_modules/
statsbot/.vs/
statsbot/package-lock.json

balancebot/node_modules/
balancebot/.vs/
balancebot/package-lock.json
